BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 10pt; MARGIN-LEFT: 0px; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
}

A:link {
	COLOR: #0000CC; FONT-SIZE: 10pt;FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: underline
	}
A:visited {
	COLOR: #0000CC; FONT-SIZE: 10pt; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
	}
A:hover {
	COLOR: #0194FE ;FONT-SIZE: 10pt; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
	}
	
AB:link {
	COLOR: #0000CC;FONT-SIZE: 12pt; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: underline
	}
AB:visited {
	COLOR: #0000CC;FONT-SIZE: 12pt;  FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";

	}
AB:hover {
	COLOR: #0194FE ;FONT-SIZE: 12pt; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";

	}

.textblue {
	FONT-WEIGHT: normal;  COLOR: #0000CC;FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
  TEXT-DECORATION: none
}

.textblack {
	FONT-WEIGHT: normal;  COLOR: #000000;FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
  TEXT-DECORATION: none
}

.textboldblue {
	FONT-WEIGHT: bold;  COLOR: #0000CC; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: none
}

.textboldblack {
	FONT-WEIGHT: bold;  COLOR: #000000; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: none
}

.topheading {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #0000CC; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: none
}

.topheading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #333333; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: none
}


.subheading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000CC; FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
 TEXT-DECORATION: none
}

.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333;FONT-FAMILY:  "Trebuchet MS", Verdana,  Arial, "Times New Roman", "MS Sans Serif";
  TEXT-DECORATION: none
}

.txtbox {
	BORDER-RIGHT: #333333 1px double; BORDER-TOP: #333333 1px double; FONT-SIZE: 8pt; BORDER-LEFT: #333333 1px double; COLOR: #0000CC; BORDER-BOTTOM: #333333 1px double; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}

.button {
	font-size: 10pt; font-family: 'Trebuchet MS', Verdana, Arial; border-style: outset; border-width: 2; 
}