<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="SQLConnectionString" connectionString="Server=.;Database=CPM;Uid=CPM_Admin;Pwd=CPM_Admin6969" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Server=.;Database=CPM;Uid=CPM_Admin;Pwd=CPM_Admin6969" providerName="System.Data.SqlClient" />
    <add name="LocalServer" connectionString="Server=.;Database=CPM;Uid=CPM_Admin;Pwd=CPM_Admin6969" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Data Source=UKEHHW7-L45376;Initial Catalog=CPM;Persist Security Info=True;User ID=CPM_Admin;Password=CPM_Admin6969" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=CPM;User ID=CPM_Admin;Password=CPM_Admin6969" name="TestConnection" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms name=".CPMPFORMSAUTH" loginUrl="Login.aspx" />
    </authentication>
    <compilation debug="true" strict="false" explicit="true" />
     <pages>
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />

      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <membership defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add 
          name="SqlProvider" 
          type="System.Web.Security.SqlMembershipProvider" 
          connectionStringName="SQLConnectionString"
          applicationName="/" />
      </providers>
    </membership>

    <roleManager enabled="true" />
    <anonymousIdentification enabled="true" />
    <profile>
      <properties>
        <add name="UserID" type="System.Int32" allowAnonymous="true" />
        <add name="UserName" type="System.String" allowAnonymous="true" />
        <add name="FullName" type="System.String" allowAnonymous="true" />
        <add name="LocationID" type="System.Int32" allowAnonymous="true" />
        <add name="Location" type="System.String" allowAnonymous="true" />
      </properties>
    </profile>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
      </providers>
    </sessionState>
        <identity impersonate="false" />
  </system.web>


  <system.webServer>
  </system.webServer>
  
  <runtime>

  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>