<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/normalize.css" />
    <include path="~/Content/demo.css" />
    <include path="~/Content/icons.css" />
    <include path="~/Content/component.css" />
    <include path="~/Content/chosen.css" />
    <include path="~/Content/CiplaVivo.css" />

  </styleBundle>
</bundles>
