<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/font-awesome/css/font-awesome.css" />
    <include path="~/Content/plugins/social-buttons/social-buttons.css" />
    <include path="~/Content/plugins/dataTables/dataTables.bootstrap.css" />
    <include path="~/Content/plugins/morris/morris-0.4.3.min.css" />
    <include path="~/Content/plugins/timeline/timeline.css" />
    <include path="~/Content/sb-admin.css" />
  </styleBundle>
</bundles>

